.img{
    height:"20";
    width:"10";
    margin-top: 2px;
    margin-left: 7px;
}
.img-humedad{
    margin-top: 20.7px;
}
.contenedor-info{
    display: flex;
    font-Family: "aeonik"
}
.contenedor-texto{
    display: block;
    margin-left: 44px;
    font-family: "aeonik"
    
}
.icono{
    height: 20px;
    width: 10px;
}
.p-numero{
    display: flex;
}