.header-card{
    display:'flex';
    justify-content:'space-between'
}
.contenedor-grados{
    display: flex;
    justify-content: start;
    align-items: start;
}
.vl{
    border-left: 2px solid #FFC13D;
  height: 10.438rem;
  margin-left: 2.875rem;
  
}
.prueba{
    font-weight: 500;
}
.card-temp-footer{
    display: 'flex';
    display: inline;
     
    

}


.card_img-temp{
    height: 11.5rem;
    width: 11.5rem;
    margin-left: 2.875rem;
    
    align-self:auto;
   
   
}

.p-desc{
    width: 10rem;
   text-align: left;
   margin-left: 0.5rem;
   font-size: 16px;
   font-family:"aeonik";
}

.img-lluvia{
    height: 40px;
    width: 42px;
    margin-left: 10.875rem;
}